name: 'Update by stargazed'
# This workflow runs at 00:30 everyday
on:
  schedule:
    - cron: '30 0 * * *'
  workflow_dispatch:

jobs:
  build:
    name: 'stargazed update'
    runs-on: ubuntu-latest
    steps:
      -
        name: 'Use GitHub Actions'
        uses: actions/checkout@v6
      -
        name: 'Use Node.js'
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
      -
        name: 'Install Package'
        run: 'npm install --global stargazed@3.4.0'
      -
        name: 'Update Repo'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
        run: 'stargazed --username  "CorralPeltzer" --token ${GITHUB_TOKEN} --repo "my-stars" --message "stargazed update by GitHub Actions Workflow" --sort'
